welcome <%= user.name %>!

  <button onclick="location.href='/documents/create'">create new document</button>
  <form action="/logout" method="POST" style="display:inline;">
    <button type="submit">log out</button>
  </form>

<br>
you have <%= documents.length %> documents in your database.
<% if (documents.length !== 0) { %>
  these are: <br>
<% } else { %>
  <p>No documents yet. Create one to get started.</p>
<% } %>

<% documents.forEach(function(document) { %>
  <div>
  <a href="/documents/<%= document._id %>">
  <%= document.title || 'Untitled' %>
  </a>
  </div>
<% }); %>
