welcome <%= user.name %>!

  <button onclick="location.href='/documents/create'">create new document</button>

<br>
you have <%= documents.length %> documents in your database.
<% if (documents.length !== 0) { %>
  these are: <br>
<% } else { %>
  <p>No documents yet. Create one to get started.</p>
<% } %>

<% documents.forEach(function(document) { %>
  <div>
  <a href="/documents/<%= encodeURIComponent(document.title) %>">
  <%= document.title || 'Untitled' %>
  </a>
  </div>
<% }); %>
