<!-- <h1>balls</h1> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skore.com</title>
    <!-- For CSS to work - need to link it to html -->
    <link rel="stylesheet" href="/styles.css">
</head>
<nav class="navigation">
  <ul >
    <li class = "navigationItem">SKORE</li>
    <a class = "navigationItem">Sign Up</a>
    <a class = "navigationItem" href="/login">Login</a>
  </ul>
</nav>
<img src="/images/happyPeople.png" width = "1250" height = auto alt="">
<h1>Testimonials</h1>
<div class="testimonial">
    <img src="/images/happyTeacher.png" alt="Teacher testimonial" class="testimonialImage">
    <p>
      "Skore has been a game-changer for my classroom. The ability to convert text to speech has made learning more accessible for all my students, especially those with reading difficulties. It's like having a personal assistant for each student!" 
      <br>— Bian R., 5th Grade Teacher
    </p>
</div>

<div class="testimonial">
    <img src="/images/happyTeacher2.png" alt="Teacher testimonial" class="testimonialImage">
    <p>
      "Using Skore has completely transformed how my students engage with lessons. It’s intuitive, effective, and truly supports all learning styles!" 
      <br>— Jordan M., Middle School Teacher
    </p>
</div>
<a href="/homepage">Homepage for testing</a>
