<% if (error) { %>
  <p style="color: red;"><%= error %></p>
<% } %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S.com</title>
    <!-- For CSS to work - need to link it to html -->
    <link rel="stylesheet" href="css/login.css">
</head>
<nav class="navigation">
  <div class = "navLeft">S</div>
</nav>
<form class = "login" action="/signup" method="POST">
  <input class = "input" type="text" name="name" placeholder="Name" value="<%= (values && values.name) || '' %>" />
  <input class = "input" type="password" name="password" placeholder="Password"/>
  <input class = "input" type="password" name="confirmPassword" placeholder="Confirm Password" />
  <input class = "input" type="submit" value="Create Account" />
  <p>
  Already have an account?
  <a href="/login">Log in</a>
</p>
</form>
